# =========================
# Django
# =========================

DEBUG=False

SECRET_KEY=

ALLOWED_HOSTS=localhost,127.0.0.1,crabgator.com

CSRF_TRUSTED_ORIGINS=https://crabgator.com

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

LOG_LEVEL=INFO

# =========================
# Database
# =========================

POSTGRES_DB=crabgator
POSTGRES_USER=crabgator_user
POSTGRES_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
